<div class="test">
  <div class="card">
    <div *ngIf="weather" class="container">
      <span>
        <img class="weather-icon" [src]="'http://openweathermap.org/img/w/' + weather.weather[0].icon + '.png'" alt="weather icon">
      </span>
    </div>

    <div class="card-header">
      <span>FHDW - Außenbereich<br>{{weather.name}}</span>
      <span>{{myDate | date: 'longDate' }}</span>
    </div>

    <div class="temp">
      <span class="weather-detail temperature">{{ weather.main.temp }}°C</span> <br>
    </div>

  </div>
</div>
