  <div class="card">
    <div *ngIf="weather" class="container">
      <span>
        <img class="weather-icon" [src]="'http://openweathermap.org/img/w/' + weather.weather[0].icon + '.png'" alt="weather icon">
      </span>
    </div>

    <div class="card-header-location">
      <span>{{weather.name}}</span>
      <span>{{myDate | date: 'longDate' }}</span>
    </div>

    <div class="card-header">
      <mat-divider></mat-divider>
      <span>Temperatur im FHDW Kino</span>
    </div>

    <div class="card-header-zwei">
      <span>Temperatur</span>
    </div>

    <span class="tempIn">23°</span>

    <div class="temp">
      <span class="weather-detail temperature">{{ weather.main.temp }}°</span> <br>
    </div>
  </div>
