.temp-slider-result-card {
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  .temp-slider-label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .temp-slider-name-label {
      font-size: 16px;
      font-weight: bold;
    }

    .temp-slider-value-label {
      font-size: 16px;
      background-color: #e0e0e0;
      padding: 4px 8px;
      border-radius: 4px;
    }
  }

  .custom-slider {
    .mat-slider-thumb {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background-color: #3f51b5; // Adjust thumb color here
    }

    .mat-slider-track-background {
      height: 10px; // Adjust track height here
      border-radius: 5px;
    }

    .mat-slider-track-fill {
      height: 10px; // Adjust track height here
      border-radius: 5px;
      background-color: #3f51b5; // Adjust track fill color here
    }

    .mat-slider-tick-mark {
      background-color: #9e9e9e; // Adjust tick color here
    }
  }
}
