<mat-card class="slider-card">
  <mat-card-content>
    <div class="temperature-display">
      <h3>Temperatur Draußen</h3>
      <span>{{ outsideTemperature }}°C</span>
    </div>

    <div class="temperature-display">
      <h3>Temperatur Drinnen</h3>
      <span>{{ insideTemperature }}°C</span>
    </div>

    <h2>Gewünschte Temperatur</h2>

    <div class="slider-container">
      <input type="range" id="slider" min="0" max="30" [(ngModel)]="simpleSliderValue" (ngModelChange)="onSimpleSliderChange($event)">
      <span id="slider-value">{{ simpleSliderValue }}</span>
    </div>
  </mat-card-content>
</mat-card>
