<div class="home-container">
  <div class="home-hero">
    <div class="home-hero-font-background">
      <span class="home-text">
      <span class="home-text1">Advanced Topics in Computerscience</span>
    </span>
      <h1 class="home-text2">SmartKlima</h1>
    </div>
    <mat-button-toggle class="get-started-button" (click)="scrollToElement(nav)">Get Started<span></span></mat-button-toggle>
  </div>
  <div>
    <img
      class="home-image"
      ngSrc="./assets/images/Pinselstrich%201.svg"
      alt="s#" height="355" width="2284"/>
  </div>
  <div class="home-features">
    <h1 class="home-text3">
      <span>Hier geht´s zu den Inhalten</span>
      <br />
      <span></span>
    </h1>
    <span #nav class="home-text6">
      <span>
      </span>
      <span></span>
    </span>
    <div class="home-container1">
      <feature-card3 rootClassName="rootClassName"
                     action="See more"
                     title="Dashboard"
                     description="Stellen Sie Ihre Wunschtemperatur ein & Schalten in den Ruhemodus!"
                     icon="dashboard"
                      redirectUrl="/dashboard"
      ></feature-card3>

      <feature-card3 rootClassName="rootClassName1"
                      action="See more"
                      title="History"
                      description="Sehen Sie nach, wie das Wetter in den vergangenen Tagen war!"
                      icon="history"
                      redirectUrl="/history"
      ></feature-card3>
    </div>
  </div>
</div>
