<div>
  <div class="container-range">
    <mat-toolbar class="mat-toolbar">
      <mat-form-field class="range-selector">
        <mat-label>Cars</mat-label>
        <select matNativeControl required #range (change)="onSelectionChange(range.value)">
          <option value="-6h">6h</option>
          <option value="-12h">12h</option>
          <option selected value="-24h">24h</option>
          <option value="-48h">48h</option>
          <option value="custom">Custom</option>
        </select>
      </mat-form-field>
    </mat-toolbar>
  </div>


  <div class="container-chart">
    <canvas id="canvas">{{chart}}</canvas>
  </div>
</div>



