


.app-toolbar {
  display: flex;
  height: 50px;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  font-size: 16px;
  background: black;
  color: #fff;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  &:hover {
    color: #8ef;
  }
}


.app-sidenav {
  padding-top: 80px;
  background: black;

  .mat-button-toggle {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px 20px;
    text-align: left;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
      color: #8ef;
      transform: scale(1) translateY(0); /* Fixed typo in translateY */

    }

    mat-icon {
      margin-right: 10px;
    }
  }

  .homepage_button { /* Specific styles for the homepage button, if needed */ }
  .dashboard_button { /* Specific styles for the dashboard button, if needed */ }
  .history_button { /* Specific styles for the history button, if needed */ }
}



