
<table>
  <tr>
    <td>Topic: </td>
    <select [(ngModel)]="topicname">
      <option value="#">#</option>
      <option value="v3/fhdw-gl-smart-campus@ttn/devices/eui-a81758fffe088b90/down/push">down/replace</option>
      <option value="v3/fhdw-gl-smart-campus@ttn/devices/eui-a81758fffe088b90/up">up</option>
    </select>
    <td><button type="button" (click)="subscribeNewTopic()">Subscribe Topic</button></td>
  </tr>
  <tr>
    <td>Message: </td>
    <td><input [(ngModel)]="frm_payload" type="text" /></td>
    <td><button type="button" (click)="sendmsg()">Send</button></td>
  </tr>
  <tr>
    <td></td>
    <td>&nbsp;&nbsp;<button type="button" (click)="clear()">Clear Log</button></td>
    <td>&nbsp;&nbsp;<button type="button" (click)="endSubscription()">End Subscribtion</button></td>
    <td></td>
  </tr>
</table>
<br /><br />
<div #msglog class="msglog">
</div>

