.custom-button {
    background-color: #9000ff; /* Beispielhafte Farbe */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 10px;
  }
  
  .custom-button:hover {
    background-color: #7100b3; /* Beispielhafte Farbe für Hover */
  }
  
  