.tempin{
  position: relative;
  height: 200px;
  width: 200px;
}

.tempout{
  position: relative;
  height: 200px;
  width: 200p;
}

.tempregler{
  position: absolute;
  top: 50px;
  left: 420px;
  height: 200px;
  width: 200px;
}

.urlaubsnachtmodus{
  position: absolute;
  top: 50px;
  left: 640px;
  height: 200px;
  width: 200px;
}

.ruhemodus{
  position: absolute;
  top: 270px;
  left: 420px;
  height: 200px;
  width: 200px;
}

body,html{
  background: #4a9898;
}

body {
  background-color: #323232;
}

.backcard{
  background-color: #323131;
  width: 900px;
  height: 430px;
  border-radius: 14px;
}
